*.gise
*.xise
*.cmd_log
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.xst
*.html
*.exe
*.xrpt
*.log
*.xmsgs
*.cmd
iseconfig/
iseconfig/*
isim/
isim/*
*.wdb
*.xml
*.ini
xst/
xst/*
*.lso
netgen/
netgen/*
_ngo/
_ngo/*
*.bld
*.ncd
*.ngd
*.par
*.pcf
*.map
*.mrp
*.ngm
xlnx_auto_0_xdb/
xlnx_auto_0_xdb/*
